*{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
}


.logo{
    width:150px;
}
.logo-div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    margin-left: -42px;
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
}


.header-top-div{
    display: flex;
    align-items: center;
    justify-content: center; 
    justify-content: space-between;
    
    background-color: #333;
    height:80px;

}

.nav-btn{
    margin:25px;
    width:100px;
    height:40px;
    border:none;
    background-color: #333;
    
}

.nav-btn:hover{
    box-shadow: 0 0 20px rgba(224, 248, 2, 0.3);
    border-radius: 5px;
    background-color:green;
}

.nav-div a{
color:white;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size:15px;
font-weight: 700;
   
}





/*                 MAIN    ///////////////////////////  */



.section-1{
    background-image: linear-gradient(rgba(83, 145, 101, 0.8), rgba(83, 145, 101, -20)),url("../img/section-1-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height:1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
   
    
    
}
.section-1-text{
     text-align: left;
     margin-bottom: 20px;
     line-height: 40px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:#539165;
     margin-left: 900px;
     font-size: larger;
    
}
.section-1-p{
    color:#EAE7B1 ;
    line-height: 20px !important;
    
  
}

.create-diet-btn{
    height:40px;
    width: 170px;
    border-radius: 40px;
    border:none;
    margin-top: 25px;
}
.create-diet-btn:hover{
    box-shadow: 0 0 20px rgba(92, 228, 2, 0.788);
}

.section-1 a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color:orange;

}

.div-1{
    position: absolute;
    bottom:-320px;
    left:200px;
    height:220px;
    width:270px;
    border-style:solid;
    text-align:center;
    box-shadow: 0 0 20px rgba(92, 228, 2, 0.788);
    border-top-right-radius: 30px;
    background-color: #fff;
    border-color:#fff;
}

.div-2{
    position: absolute;
    bottom:-320px;
    left:600px;
    height:220px;
    width:270px;
    border-style:solid;
    text-align:center;
    box-shadow: 0 0 20px rgba(92, 228, 2, 0.788);
    border-top-right-radius: 30px;
    background-color: #fff;
    border-color:#fff;
}


.div-3{
    position:absolute;
    bottom:-320px;
    left:1000px;
    height:220px;
    width:270px;
    border-style:solid;
    text-align:center;
    box-shadow:0 0 20px rgba(92, 228, 2, 0.788);
    border-top-right-radius:30px;
    background-color: #fff;
    border-color:#fff;    
}
.div-4{
    position:absolute;
    bottom:-320px;
    left:1400px;
    height:220px;
    width:270px;
    border-style:solid;
    text-align:center;
    box-shadow: 0 0 20px rgba(92, 228, 2, 0.788);
    border-top-right-radius: 30px;
    background-color: #fff;
    border-color:#fff;
}

.div-1 h3{
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 600;
    color:#FA9884;


    
    
}
.div-2 h3{
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 600;
    color:#FA9884;
    
}
.div-3 h3{
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 600;
    color:#FA9884;
    
}

.div-4 h3{
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 600;
    color:#FA9884;
    
}

.divs-p{
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color:#A9907E;
}


.four-divs-img{
    width:60px;
    margin-top:30px;
}
