p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    height: 3000px;
    font-family: Roboto, Arial;
    margin: 0;
}


.header {
    height: 76px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 100;
    box-shadow: 0px 3px 5px grey;
}


.left-section {
    display: flex;
    align-items: center;
}


.healthify-logo {
    height: 150px;
    margin-left: 30px;
    margin-right: -5px;
}


.healthify-text {
    font-size: 23px;
    color: white;
}


.right-section {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    margin-right: 50px;
}
.right-section a {
    text-decoration: none;
    color: white;
}


.about-us {
    font-family: Roboto, Arial;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.about-us:hover { 
    background-color: rgb(42, 230, 42);
}


.recipes-and-tips {
    font-family: Roboto, Arial;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.recipes-and-tips:hover { 
    background-color: rgb(42, 230, 42);
}


.contact-us {
    font-family: Roboto, Arial;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.contact-us:hover {
    background-color: rgb(42, 230, 42);
}


.sign-up {
    font-family: Roboto, Arial;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: black;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25px;
}
.sign-up:hover {
    background-color: rgb(42, 230, 42);
}


.text-background {
    margin-top: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url(../img/vegetables.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);

}

.text-container {
    font-family: Roboto, Arial;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.diet-button {
    font-family: Roboto, Arial;
    font-size: 16px;
    display: flex;
    height: 45px;
    width: 180px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    border-radius: 20px;
    border-width: 0;
    background-color: white;
    opacity: 70%;
}
.diet-button a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.diet-button:hover{
    background-color: rgb(205, 198, 198);
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 725px;
    background-color: grey;
    border: solid;
    border-width: 5px;
}