
body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    height: 3000px;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    height: 66px;
    background-color: lightblue;
}

.header-left-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.logo-container {
    display: flex;
    flex-direction: block;
    height: 66px;

}

.logo-healthify {
    display: flex;
    height: 66px;
    width: 100px;
    
}


.header-right-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}